name: Build and Deploy Documentation

on:
  push:
    tags:
      - 'v**'  # specify the pattern for release tags

permissions:
  contents: write
  pull-requests: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        submodules: true

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: "3.9"  # adjust the Python version if needed
        cache: "pip"
        architecture: "x64"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt  # adjust the path if needed

    - name: Build documentation
      run: |
        cd docs
        make clean && make html

    - name: Deploy documentation
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.ACCESS_TOKEN }}
        publish_dir: docs/build/html  # adjust the path if needed
